<div class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="container-fluid d-flex justify-content-space-between">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <%= link_to root_path do %>
              <%= image_tag 'logo2.png', class:"logo"%>
            <% end %>
        <div class="container d-flex justify-content-center">
        <nav style="--gp-section-max-width:1120px">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control rounded-pill col-6 me-3" type="search" placeholder="Trouver une oeuvre" aria-label="Une envie ?">
              <button class="btn btn-outline-primary rounded-pill col-4" type="submit">SEARCH</button>
            </form>
          </div>
         </nav>
      </div>
  </nav>
  <a class="navbar-brand justify-content-space-around" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </li>
    </ul>
  </div>
</div>
