<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="banner">
      <h1>Sculptures en Carton</h1>
      <p><span data-controller="typed-js"></span></p>
      <%= link_to "Voir les oeuvres",  products_path, class: "banner-button" %>
    </div>

   <div id="carouselExampleIndicators" class="carousel slide shadow-sm border" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>

    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
      <span class="sr-only">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </button>
</div>
