<section class="banner mw-100">
  <div class="banner-content">
    <%= image_tag 'homme.jpg', class:'mw-100' %>
    <h1>Construire à l'infini</h1>
    <p><span data-controller="typed-js"></span></p>
    <%= link_to "Découvrir",  products_path, class: "banner-button" %>
  </div>
</section>

<hr>
    <h3>Découvrez nos emplacements les mieux notés!</h3>

   <div id="carouselExampleIndicators" class="carousel slide shadow-sm border" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
   
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="color:black;"></span>
      <span class="sr-only">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </button>
